@{
    ViewData["Title"] = "Fusion Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Fusion.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="page-title">Fusion Details</h1>
            <h2>Learn all about Fusion Monsters!</h2>
        </header>

        <section class="xyz-info">
            <p>
                <strong>Fusion Monster</strong>  (Japanese: 融ゆう合ごうモンスター Yūgō Monsutā or フュージョン Fyūjyon in Yu-Gi-Oh! Rush Duel) are a type of Monster Card. The color of their card frame is violet. These cards are placed in the Extra Deck.

                To be properly Special Summoned, Fusion Monsters must first be Fusion Summoned (unless otherwise specified). If they leave the Extra Deck without being properly Special Summoned, they cannot be Special Summoned while they are banished or in the Graveyard.

                Most Fusion Monsters have a set of Fusion Materials, which are listed on the first line of the card's text. These are the materials used to perform the Summon of that monster.

                Like other Extra Deck monsters, Fusion Monsters cannot exist in the hand or Main Deck (even with card effects). If a Fusion Monster would be moved to the hand or Main Deck, it is returned to the Extra Deck instead. If a card like "Transmigration Break" or "Degenerate Circuit" is applying, this will override the Fusion Monster's ability to return to the Extra Deck.
            </p>

            <p>
                <strong>Playing style</strong>: Compared to Synchro, Xyz, and Link, Fusion's main weakness is the need of the "Polymerization" card, meaning that the player's ability to Fusion Summon is usually limited by the number of "Polymerization" they have and on having the card in their hand or on the field. Additionally most Fusion Monsters list specific monsters as Fusion Materials, meaning they are less flexible in which monsters can be used to Fusion Summon. Due to needing "Polymerization" in addition to at least two materials (Transformation Summoning notwithstanding), Fusion Summoning will usually cost the player a large number of cards in hand and field.

                However, a key advantage Fusion Summoning has over Synchro, Xyz, and Link Summoning is that monsters in the player's hand can be used as Fusion Materials, thus removing the need to spend more resources summoning those materials in most cases. Many Fusion Summon oriented archetypes have their own versions of "Polymerization"; most of which can be searched and recycled, allowing the player to reuse them multiple times and perform more Fusion Summons.

                Newer Fusion Monsters tend to be less restrictive with the required Fusion Materials, instead requiring any monster that meets a specific criteria such as being member of an archetype or having a specific Attribute, giving those Fusion Monsters more flexibility in their ability to be Summoned.
            </p>

            <p>
                <strong>In the manga</strong>: In the original and R manga, the Fusion Material Monsters must exist on the field to be fused with "Polymerization", and once they are fused, they are still treated as separate cards for the purpose of specific card effects (most famously, "The Wicked Eraser", which treated the 3-Material "Arcana Knight Joker" as 3 cards and gained 3000 ATK). In addition, they can also be treated as a number of Tributes equal to this total; as demonstrated in Yu-Gi-Oh! R, less than the total can be Tributed (Seto Kaiba Tributed the "Material Bat" and "Material Scorpion" portions of his "Mosaic Manticore" while leaving "Material Lion" on the field). However, the Fusion Materials can also be Summoned while the Fusion Monster is on the field, demonstrated in R when Yako Tenma Summoned 3 "Blue-Eyes White Dragons" with "Junk Dealer" while Seto Kaiba had his "Blue-Eyes Ultimate Dragon" on the field. They are treated as having a Level equal to the highest Level of the Fusion Material Monsters ("Mosaic Manticore", made up of of the Level 4 "Material Lion", "Material Bat" and "Material Scorpion" was treated as Level 4, while "Beast Machine King Barbaros Ür", composed of the Level 4 "Machine Lord Ür" and the Level 8 "Beast King Barbaros" was treated as a Level 8 monster).

                Fusion Monsters are also treated as having the same name as their Fusion Materials, as seen when Dark Marik is able to target "Immortal God Slime" with "Jam Defender".

                Under the "Super-Expert Rules", Fusion Monsters cannot attack during the turn they are Summoned (a condition carried over to the Duelist Kingdom and Battle City Rules in the anime). However, Fusion Monsters that were Fusion Summoned without "Polymerization", like "Valkyrion the Magna Warrior", "XYZ-Dragon Cannon", and "Mosaic Manticore", are not subject to this condition.

                In the GX manga and all subsequent manga, Fusion Monsters were treated like they are in the TCG/OCG.
            </p>

            <p>
                <strong>In the anime</strong>: In the anime, the Millennium Scale was the item which originally fused monsters.

                In the early Yu-Gi-Oh! anime, Fusion Monsters had low ATK and DEF and very few had effects.

                In Yu-Gi-Oh! GX, many powerful Fusion Monsters were introduced. In Yu-Gi-Oh 5D's and Yu-Gi-Oh! ZEXAL, Synchro Monsters and Xyz Monsters, respectively, mostly overtook this role, although Fusion Monsters do still appear. In Yu-Gi-Oh! ARC-V, Fusion Monsters are primarily used by characters from the Standard and Fusion Dimensions.

                In Yu-Gi-Oh! VRAINS, Yusaku Fujiki, Theodore Hamilton, Skye Zaizen and George Gore have all used Fusion Monsters.

                Fusion Monsters are the only kind of Extra Deck monster to have appeared in all six Yu-Gi-Oh! series.
            </p>

            <div class="image-container">
                <img src="/Image/Starving Venom Fusion Dragon.jpg" alt="Odd-Eyes Raging Dragon" class="xyz-image" />
                <img src="/Image/Elemental Hero Flame WIngman.jpg" alt="Odd-Eyes Raging Dragon" class="xyz-image" />
                <img src="/Image/Crimson Nova Trinity the Dark Cubic Lord.jpg" alt="Odd-Eyes Raging Dragon" class="xyz-image" />
            </div>
        </section>
    </div>
</body>
</html>
