@{
    ViewData["Title"] = "Pendulum Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Pendulum.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="page-title">Pendulum Details</h1>
            <h2>Learn all about Pendulum Monsters!</h2>
        </header>

        <section class="xyz-info">
            <p>
                <strong>Pendulum Monster</strong> (Japanese: ペンデュラムモンスター Pendyuramu Monsutā; usually abbreviated Ｐペンデュラムモンスター), also called a Pendulum Card in the early episodes of the Yu-Gi-Oh! ARC-V anime, is a type of Monster Card that is half green. They first appeared in the Yu-Gi-Oh! ARC-V anime, and were introduced to the OCG and TCG in Starter Deck 2014 and Super Starter: Space-Time Showdown, respectively.

                In addition to normal usage as a Monster Card, a Pendulum Monster can also be activated from the hand as a Spell Card in a Pendulum Zone; if there are Pendulum Monsters in both Pendulum Zones, the player can perform a Pendulum Summon.[1][2][3]

                So far, Normal, Effect, Ritual, Fusion, Synchro, and Xyz Pendulum Monsters have been seen. Pendulum Monsters can also be Tuner, Flip, and Spirit monsters.
            </p>

            <p>
                <strong>Mechanics</strong>: A Pendulum Monster can be used in two ways: either as a Monster card (that can be Summoned/Set), or as a Spell Card by activating it in the Pendulum Zone.

                If a Pendulum Monster card (even if face-down) would be sent from the field to the Graveyard (either as a Monster Card or Spell Card), it is placed face-up in the Extra Deck instead. This can cause the total size of the Extra Deck to be larger than would be allowed during Deck building. A Pendulum Monster is sent to the Graveyard like normal if it is sent from any location other than the field (including if it has its activation as a Spell Card or Summon negated).[1][2][3] If a card effect causes cards to not go to the Graveyard ("Macro Cosmos" or "Grave Protector"), this will override the Pendulum Monster's mechanic to go to the Extra Deck, and instead would be moved to the zones designated by such effects (or banished). [1][2][3]

                Pendulum Monsters cannot be used to pay costs that require sending cards from the field to the Graveyard, as they would not be able to go to the Graveyard but would be placed in the Extra Deck instead; however, they can still be Tributed for costs and used as Materials for Summons. They can otherwise be sent from the hand or Deck to the Graveyard.

            <p>
                <strong>As a Monster Card</strong>: While not in a Pendulum Zone, a Pendulum Monster is treated as a Monster Card, and its monster effects are applied. It can be Special Summoned by appropriate card effects. If it is also a Normal or Effect Monster, it can also be Normal Summoned/Set from the hand, just like any other Normal or Effect Monster.
            </p>

            <p>
                <strong>As a Spell Card</strong>: A Pendulum Monster card can be activated from the hand as a Spell Card in the player's unoccupied Pendulum Zone (it cannot be Set in the Pendulum Zone). Upon resolving, it remains face-up in the Pendulum Zone as a Spell Card, its Pendulum Scale is active, and Pendulum Effects, if any, apply. Pendulum Monster cards in the Pendulum Zone are not treated as monsters, and their monster effects are not applied at this time.

                Although a Pendulum Monster is treated as a Spell Card while in the Pendulum Zone, it is not considered a Normal, Continuous, Field, Equip, Quick-Play, or Ritual Spell Card. As long as there is an available Pendulum Zone on the player's field, they can activate a Pendulum Monster from their hand in that zone. Unlike Field Spells, however, players cannot send cards in the Pendulum Zone to the Extra Deck face-up to activate a new one.
            </p>

            <p><strong>Pendulum Summon</strong>:Once per turn, during the Main Phase, while there are Pendulum Monsters in both Pendulum Zones, the turn player can perform a Pendulum Summon, Special Summoning multiple Monsters from their hand as well as Pendulum Monsters that are face-up in the Extra Deck at the same time, using the Pendulum Monsters' Pendulum Scales to determine the Levels of the monsters that can be Summoned.</p>

            <p>
                <strong>Extra Deck Pendulum Monsters</strong>:While most Pendulum Monsters are also Normal or Effect Monsters and put in the Main Deck, a small number of Pendulum Monsters are also Fusion, Synchro, or Xyz Monsters. These cards are put face-down in the Extra Deck, and can be Fusion, Synchro, or Xyz Summoned (depending on their monster card type) as normal while face-down.

                When they are sent to the Graveyard from the field, they will be put back in the Extra Deck face-up. Face-up Pendulum Monsters in the Extra Deck can be Pendulum Summoned, provided they were properly Summoned by their mechanics from face-down first, but they can no longer be Fusion, Synchro, or Xyz Summoned, or Special Summoned by an effect that is treated as such Summons. If they are returned to the hand, Deck, or Extra Deck, they will be returned face-down as with all other Extra Deck monsters.

                Because they are Extra Deck monsters, they cannot be activated to the Pendulum Zone from the hand. Rather, they have effects to place themselves in the Pendulum Zone.

                As Xyz Monsters do not have Levels, Xyz Pendulum Monsters use the Level written in their condition, if any. If an Xyz Monster is used in an Xyz Summon (such as due to the effect of "Xiangke Magician"), the Xyz Materials will be sent to the Graveyard.
            </p>

            <p>
                <strong>Card Layout</strong>:As the Pendulum Effects and the Pendulum Scales take up the space where the Set Number would usually be placed, the Set Number is placed in the bottom left corner of the card instead, in the same line as the ATK/DEF values of the Pendulum Monster. The art frame of a Pendulum Monster is increased in size, to the same width as the Effect boxes, and the Pendulum Effect box is partially transparent, allowing the art to be seen beneath it. The upper bit of the Effect box (more or less corresponding to the Type line's height) is also transparent, but to a lesser degree than the Pendulum Effect box.
            </p>

            <p>
                <strong>Playing Style</strong>: A good Pendulum-based Deck has the ability to do what the anime calls "going beyond the Pendulum," which involves using Pendulum Summoning to gather Materials for a Fusion, Synchro, Xyz, or Link Summon, as Tributes for a Tribute or Ritual Summon, or to activate multiple effects that activate when Summoned (possibly using SEGOC to prevent the important one from being negated).

                Pendulum Monsters' main weakness is their hand advantage cost to place in the Pendulum Zone, causing them to be vulnerable to nuke effects as they will destroy the field and shut down Pendulum Decks until a Pendulum Scale can be restored. Furthermore, cards like "Hand Destruction" and "Solemn Warning" that can cause the Pendulum Monsters to be sent to the Graveyard can be problematic as well, since most Pendulum Monster Decks don't have any way to get cards back from the Graveyard, though you can remedy this with cards like "Pot of Riches" or "Pendulum Reborn".

                Cards that banish (like "Divine Knight Ishzark" and "Chaos Sorcerer"), specifically counter Spell Cards (like "Spell Canceller"), and/or deplete the Extra Deck (like "Zaborg the Mega Monarch" and "Extra Gate") are also problems for Pendulum Decks. "Anti-Spell Fragrance" will also prevent Pendulum Monsters from being placed in the Pendulum Zone at all, since cards cannot be Set in the Pendulum Zone. "Pot of Acquisitiveness", Spell & Trap removal (preferably Quick-Play, such as "Mystical Space Typhoon"), and "Imperial Iron Wall" can deal with these cards, however.

                Pendulum-based Decks also require that you either open with a sufficient amount of monsters or with the ability to search for them. If you don't open with enough monsters, Pendulum Summoning doesn't provide much of an advantage.
            </p>

            <p>
                <strong>Lore</strong>: In the anime, Pendulum Monsters were created when Z-ARC and Ray Akaba's wills reacted to each other when the world was split into four during their duel. Yuya's Pendulum Monsters were originally Effect Monsters, but they were transformed by the power of Yuya's pendant into their current state when Z-ARC awakened for the first time. After Yuya's initial discovery of Pendulum Monsters, Declan Akaba started a project within the Leo Corporation to create more Pendulum Monsters so that the entire world can have access to them. The first prototypes were unveiled in Declan's first duel with Yuya, but the summoning energy they gave off was unstable and so they malfunctioned. Also, these initial prototypes couldn't quite match Yuya's Pendulum Summon in terms of energy. Although they managed to stabilize their Pendulum Monsters' energy in time for the Arc League Championship, it was never directly stated whether or not the finished Pendulum Monsters were as good as Yuya's. Leo Akaba later used Pendulum Monsters of his own, though it is unknown where, how, or when he obtained them.

                When a Pendulum Monster is placed into a Pendulum Zone, it appears in a transparent column of blue light from a portal on the ground not dissimilar to the Summoning of monsters in Yu-Gi-Oh! 5D's.

                In the anime, when a Duelist uses Pendulum Summoning to gather the materials required for a Fusion, Synchro, or Xyz Summon, it is referred to as performing a "Pendulum-Fusion", "Pendulum-Synchro", or "Pendulum-Xyz Summon", respectively. A Pendulum Monster that is also a Fusion, Synchro, or Xyz Monster is referred to as a "Fusion-Pendulum", "Synchro-Pendulum", or "Xyz-Pendulum Monster", respectively.
            </p>

            <div class="image-container">
                <img src="/Image/supreme king z-arc.jpg" alt="Odd-Eyes Raging Dragon" class="xyz-image" />
            </div>
        </section>
    </div>
</body>
</html>
