@{
    ViewData["Title"] = "XYZ Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/XYZ.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="page-title">XYZ Details</h1>
            <h2>Learn all about XYZ Monsters!</h2>
        </header>

        <section class="xyz-info">
            <p>
                <strong>Xyz Monsters</strong> (pronounced ik-seez[1]) (Japanese: エクシーズモンスター Ekushīzu Monsutā; usually abbreviated Ｘエクシーズモンスター since Duelist Alliance) is a type of Monster Card that is colored black. They are stored in the Extra Deck. The card frame is also stylized by having it appear as if one is flying through space with many stars in the frame giving the appearance of one streaking by them and other stars appearing stationary due to relative distance (giving a realistic depiction of moving through space).

                Like other Extra Deck monsters, Xyz Monsters cannot exist in the hand or Main Deck (even with card effects). If an Xyz Monster would be moved to the hand or Main Deck, it is returned to the Extra Deck instead. If a card like "Transmigration Break" or "Degenerate Circuit" is applying, this will override the Xyz Monster's ability to return to the Extra Deck.

                Like other Extra Deck monsters, if an Xyz Monster is not Xyz Summoned first, it cannot be Special Summoned from the Graveyard or while banished (unless it specifies another way to properly Special Summon it).
            </p>

            <p>
                <strong>Ranks</strong>: Xyz Monsters do not have Levels, and instead have a Rank. An Xyz Monster's Rank determines the required Levels of the Xyz Materials needed in order to Xyz Summon it. An Xyz Monster's Rank is depicted by a row of yellow stars in black orbs (as opposed to the yellow stars in red orbs used to depict a monster's Level) that extend outwards from the left-hand side of the card (the opposite side to Level stars).

                Because they do not have Levels, Xyz Monsters cannot be used for Ritual, Synchro, or Xyz Summons (unless otherwise specified). Effects that depend on a monster's Level, such as "Gravity Bind", "Burden of the Mighty", and "Roulette Barrel", have no effect on Xyz Monsters.

            <p>
                <strong>Xyz Summoning</strong>: An Xyz Summon is the act of Summoning an Xyz Monster from the Extra Deck using 2 or more monsters of the same Level as Xyz Materials, with those monsters also being the same Level as the Xyz Monster's Rank.

                During the Main Phase, the turn player can Xyz Summon an Xyz Monster from the Extra Deck. When an Xyz Monster is Xyz Summoned, the Xyz Materials are stacked and placed underneath the Xyz Monster Card.
            </p>

            <p>
                <strong>Xyz Materials</strong>: To perform an Xyz Summon, 2 or more monsters with the same Level must be used as the Xyz Materials. Token Monsters cannot be used as Xyz Materials. Monsters that do not have Levels (such as Xyz Monsters and Link Monsters) cannot be used as Xyz Materials unless specifically permitted (such as by "Number S0: Utopic ZEXAL"). While the majority of the Xyz Monsters require 2 Xyz Materials, many Xyz Monsters require more or can use a variable number of Materials.

                While attached to an Xyz Monster (underneath the Xyz Monster Card), Xyz Materials are not treated as being on the field. Cards being attached as an Xyz Material or used as an Xyz Material in an Xyz Summon are not considered to be leaving the field.

                If an Xyz Monster is no longer on the field, its Xyz Materials are sent to the Graveyard. Xyz Materials remain attached if an Xyz Monster is flipped face-down.
            </p>
                
            <p><strong>Common Effects</strong>:Usually, Xyz Monsters need to detach an Xyz Material to activate their effects, meaning their effects often have a limited number of uses.</p>

            <p>
                <strong>Xyz Evolution</strong>:Several Xyz Monsters can be Special Summoned by Xyz Evolution, a kind of Special Summon treated as an Xyz Summon. Xyz Evolution allows an Xyz Monster to be Special Summoned using another Xyz Monster as its Xyz Material. Also, that Xyz Monster's Xyz Materials are transferred and attached to the Summoned Xyz Monster.

                Unless stated specifically, like in most cards that perform Xyz Evolution, the Xyz Materials will be transferred to the new Xyz Monsters. If an Xyz Monster is used in an Xyz Summon (such as due to the effect of "Xiangke Magician"), the Xyz Materials will be sent to the Graveyard.
            </p>

            <p>
                <strong>Rank-Up</strong>:"Rank-Up-Magic" Spell Cards can perform an Xyz Evolution, Special Summoning an Xyz Monster with a higher Rank than the original Xyz Monster.

                Usually, Rank-Up Xyz Evoution Summons an Xyz Monster 1 Rank higher than the preceding Monster, but some cards Summon those 2 Ranks higher, or even more than 2.
            </p>

            <p><strong>Rank-Down</strong>: The Spell Cards "Rank-Down-Magic Numeron Fall" and "Rank-Down-Magic Utopia Fall" perform an Xyz Evolution, Special Summoning an Xyz Monster with a lower Rank than the original Xyz Monster.</p>

            <p><strong>In the Anime</strong>: Xyz Monsters are the main focus of Yu-Gi-Oh! ZEXAL. Xyz Monsters are made of antimatter, and have traveled to Yuma's dimension from the other side of a black hole. The "Number" Xyz Monsters are claimed to be destined to destroy all universes.</p>

            <div class="image-container">
                <img src="/Image/odd-eyes ragin dragon.jpg" alt="Odd-Eyes Raging Dragon" class="xyz-image" />
            </div>
        </section>
    </div>
</body>
</html>
