@model YuGiOhDeckEditor.Entities.DeckInfo

<h3>Cards in Deck:</h3>
<ul>
    @if (Model.Cards != null && Model.Cards.Any())
    {
        @foreach (var card in Model.Cards)
        {
            <li>
                <strong>@card.Name</strong> - @card.Type <br />
                ATK: @card.AttackPoints | DEF: @card.DefencePoints
            </li>
        }
    }
    else
    {
        <p>No cards in this deck yet.</p>
    }
</ul>
